<html>
<head>
    <script type="text/javascript" src="http://sjmj8n.sbs.co.kr/jquery/1.10.2.min.js"></script>

    <script>
        function nc(){
            $.ajax({
                type: 'GET',
                dataType: 'jsonp',
                data: {'name': 'kyuhuck'},
                url: 'http://sotyweb.sbs.co.kr/4.jsp',
                // jsonp 값을 전달할 때 사용되는 파라미터 변수명
                // 이 속성을 생략하면 callback 파라미터 변수명으로 전달된다.
                jsonp: 'stone',
                success:function(json) {
                    alert(json);
                    $('.result').html(json.data.name);


                }
            });
        }
    </script>

</head>
<body>
<div class="result"> sss </div>
<input type="button"  onclick="nc();")>

</body>



</head>



</html>