<div class="row">
  	<div class="col-lg-12">
        <div id="accordion" role="tablist" aria-multiselectable="true">
        	<div class="card">
            	<div class="card-header" role="tab" id="headingOne">
            		<div class="pull-right">
            			<a class="label label-info label-fill">Update</a>
            			<a ng-click='toggleModal()' class="label label-danger label-fill">Delete</a>
            		</div>
                	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="return false;">
                  		Collapsible Group Item #1
                	</a>
            	</div>
            	<div id="collapseOne" class="card-block collapse" role="tabpanel" aria-labelledby="headingOne">
                	<p>This is a Bootstrap 4 accordion that uses the <code>.card</code> classes instead of <code>.panel</code>. The single-open section aspect is not working because the parent option (dependent on .panel) has not yet been finalized in BS 4 alpha. </p>
            	</div>
            	<div class="card-header" role="tab" id="headingTwo">
            		<div class="pull-right">
            			<a class="label label-info label-fill">Update</a>
            			<a ng-click='toggleModal()' class="label label-danger label-fill">Delete</a>
            		</div>
                	<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="return false;">
                  		Collapsible Group Item #2
                	</a>
            	</div>
            	<div id="collapseTwo" class="card-block collapse" role="tabpanel" aria-labelledby="headingTwo">
               		<p>Just like it's predecesor, Bootstrap 4 is mobile-first so that you start by designing for smaller devices such as smartphones and tablets, then proceed to laptop and desktop layouts.</p>
            	</div>
            	<div class="card-header" role="tab" id="headingThree">
            		<div class="pull-right">
            			<a class="label label-info label-fill">Update</a>
            			<a ng-click='toggleModal()' class="label label-danger label-fill">Delete</a>
            		</div>
                	<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="return false;">
                  		Collapsible Group Item #3
                	</a>
            	</div>
            	<div id="collapseThree" class="card-block collapse" role="tabpanel" aria-labelledby="headingThree">
                	<p>Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the normalization of cross browser styles.</p>
            	</div>
        	</div>
        	
        	<a href="javascript:;" class="btn btn-info btn-block">Read More</a>
        </div>
    </div>
</div>


<modal-dialog show='modalShown' width='750px' height='60%'>
	<p>정말 삭제 할까요?<p> <br>
	<a href="/">네</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" >아니요</a>
</modal-dialog>